<!DOCTYPE html>
<html>
  <head>
    <title>Green Tea {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/media/css/smoothness/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" href="/media/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/media/lib/octicons/octicons.css">
    <link rel="stylesheet" href="/media/css/basic.css">
    <script src="/media/js/jquery-1.10.1.min.js"></script>
    <script src="/media/js/jquery.cookie.js"></script>
    <script src="/media/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/media/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/media/images/shortcut.ico">
    <script src="/media/js/functions.js"></script>
    <script language="javascript">
    {% for key, value in conf.items %}
      var {{ key }}="{{ value }}";
    {% endfor %}
    </script>
    <script src="/media/js/tttt.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">Green Tea</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul id="manMenu" class="nav navbar-nav">
            <li><a href="{% url "jobs-list" %}">Jobs</a></li>
            <li><a href="{% url "tests-list" %}">Tests</a></li>
            <li><a href="{% url "jobs-diff" %}">Diffs</a></li>
            <li><a href="{% url "reports" %}">Reports</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "import-xml" %}" title="Import beaker's xml" ><span class="glyphicon glyphicon-import" /></a></li>
            {% if not user.is_authenticated %}
            <li><a href="{% url "login" %}">Login</a></li>
            {% else %}
            <li><a>{{ user }}</a></li>
            {% endif %}
            <li><a href="{% url "admin:index" %}">Administration</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 80px">
      <div class="starter-template">
        <!-- BEGIN content -->
        {% block content %}

        <h1>Hello, this is first page</h1>

        {% endblock %}
        <!-- END content -->
      </div>
    </div>

    <div id="footer">
        <div class="container">
        <p class="text-muted">
            {{ footer|safe }} | Green Tea version {{ version }}
        </p>
        </div>
    </div>

  </body>
</html>
