{% extends "basic.html" %}
{% load gitweb %}

{% block content %}

<p>Last check: {{ progress.datestart }} - 
{% if progress.dateend %} {{ progress.dateend}} {% else %} running {% endif %}
</p>

<p>Progress = {{ progress.actual }} checked / {{ progress.totalsum }} running</p>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{progress.actual}}" aria-valuemin="0" aria-valuemax="{{ progress.totalsum }}" style="width: {{ progress.percent }}%;">
    <span class="sr-only">{{ progress.percent }}% Complete</span>
  </div>
</div>


{% if score %}
<h1>Score </h1>
<ul class="nav nav-tabs">
  <li role="presentation" {%if not forms.cleaned_data.schedule%}class="active" {% endif %}><a href="{% url "homepage" %}">All</a></li>
  {% for schedule in schedules %}
  <li role="presentation" {%if forms.cleaned_data.schedule == schedule.id %}class="active" {% endif %}><a href="{% url "homepage" %}?schedule={{schedule.id}}" title="{{schedule.date_create}}" >{{ schedule.period }}</a></li>
  {% endfor %}
</ul>
<table class="table table-striped">
    <tr>
        <th>Test</th>
        <th><a href="?order=score&amp;schedule={{forms.cleaned_data.schedule}}">Score</a></th>
        <th><a href="?order=rate&amp;schedule={{forms.cleaned_data.schedule}}">Rate</a></th>
        <th>Results</th>
    </tr>
    {% for it in score %}
    <tr>
      <td width="50%"><a href="{% url 'tests-list' %}?test_id={{it.test.id}}">{{it.test}}</a></td>
      <td>{{it.score}}</td>
      <td>{{it.rate|floatformat:2}}</td>
      <td>
        <div class="progress" style="height:20px">
          <div class="progress-bar progress-bar-success" style="width: {{it.get_result.pass}}%">
            <span class="sr-only">{{it.get_result.pass}}% Complete (success)</span>
          </div>
          <div class="progress-bar progress-bar-warning" style="width: {{it.get_result.warning}}%">
            <span class="sr-only">{{it.get_result.warning}}% Complete (warning)</span>
          </div>
          <div class="progress-bar progress-bar-danger" style="width: {{it.get_result.fail}}%">
            <span class="sr-only">{{it.get_result.fail}}% Complete (danger)</span>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{% if networking %}
<h1>Network <span style="color:red">(in progress)</span></h1>
<table class="table table-striped">
    <tr>
        <th>Hostname</th>
        {% for it in networking.labels %}<th>{{ it }}</th>{% endfor %}
    </tr>
    {% for host, value in networking.data.items %}
    <tr><td>{{ host }}</td>
    {% for key, it in value.items %}
    <td>{{ it }}</td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}

<h1>Waiver</h1>

<table class="table table-striped">
    <tr>
        <th>Username</th><th>UID</th><th>Comment</th><th>Date</th><th>Action</th>
    </tr>
{% for it in waiver.object_list %}
    <tr>
        <td>{{it.username}}</td>
        <td>{{it.job|default:""}} {% if it.recipe %}<a a href="{% url 'jobs-list' %}?search={{it.recipe.job.template}}">R:{{it.recipe}}</a>{% endif %} {% if it.task %}<a a href="{% url 'tests-list' %}?search={{it.task.test}}">T:{{it.task}}</a>{% endif %}</td>
        <td>{{it.content}}</td>
        <td>{{it.created_date}}</td>
        <td>{{it.get_action}}</td>
    </tr>
{% endfor %}
</table>

<ul class="pagination">
  {% if waiver.has_previous %}<li><a href="?cpage={{ waiver.previous_page_number }}">&laquo;</a></li>{% else %}<li class="disabled" ><span>&laquo;</span></li>{%endif%}
  {% for it in cpaginator.page_range %}
  <li {% ifequal waiver.number  it %}class="active"{% endifequal %}><a href="?cpage={{it}}">{{it}} <span class="sr-only">(current)</span></a></li>
  {% endfor %}
  {% if waiver.has_next %}<li><a href="?cpage={{ waiver.next_page_number }}">&raquo;</a></li>{% else %}<li class="disabled" ><span>&raquo;</span></li>{%endif%}
</ul>

 <h1>History</h1>
<table class="table table-striped">
    <tr>
        <th>Author</th><th>Test</th><th>Date</th><th>Commit</th>
    </tr>
{% for it in history.object_list %}
    <tr>
        <td>{{it.author.name}}</td>
        <td><a target="_new" href="{% url 'tests-list' %}{{it.test.get_absolute_url}}">{{it.test}}</a></td>
        <td>{{it.date}}</td>
        <td><a target="_new" href="{{ it.get_absolute_url }}">{{it.commit}}</a></td>
    </tr>
{% endfor %}
</table>

<ul class="pagination">
  {% if history.has_previous %}<li><a href="?hpage={{ history.previous_page_number }}">&laquo;</a></li>{% else %}<li class="disabled" ><span>&laquo;</span></li>{%endif%}
  {% for it in hpaginator.page_range %}
  <li {% ifequal history.number  it %}class="active"{% endifequal %}><a href="?hpage={{it}}">{{it}} <span class="sr-only">(current)</span></a></li>
  {% endfor %}
  {% if history.has_next %}<li><a href="?hpage={{ history.next_page_number }}">&raquo;</a></li>{% else %}<li class="disabled" ><span>&raquo;</span></li>{%endif%}
</ul>
{% endblock %}
