{% extends "basic.html" %}

{% block title %}Import Job Template{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Job Template</a></li>
  <li role="presentation"><a href="{% url 'import-group' %}">Group Tempalte</a></li>
</ul>


<h1>Import Job Template</h1>
<h2>{{ job.whiteboard }}</h2>

{% if job %}
<div class="alert alert-info">
	<p><b>Job Template:</b><a href="{% url 'admin:core_jobtemplate_change' job.id %}" >{{ job.whiteboard }}</a></p>
</div>
<div class="alert alert-info">
	<b>Recipe templates:</b>
	<ul>
	{% for it in recipes %}
		<li><a href="{% url 'admin:core_recipetemplate_change' it.id %}">{{it}}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
<br> 
<form action="" method="POST" class="tableform" id="job">
    {% csrf_token %}    
    <div style="display:none">
        <input id="job_confirmed" type="hidden" name="confirmed" value="false" class="hiddenfield">
    </div>
<textarea rows="30" cols="100"  name="textxml" id="textxml" class="form-control" >
{{ xml }}
</textarea>

<div style="margin-top: 20px">
<input type="submit" class="btn btn-primary" value="Queue">
</div>

</form>
{% endblock %}
