{% for key, item in plan.objects.items %}
<tr>
    <td class="rWrapper">{% ifchanged %}
        <a href="{{item.object.get_absolute_url}}" >{{ item.object.whiteboard }}</a>
        <div class='icons-br'><a href="job_history/{{ item.object.id }}" class="glyphicon glyphicon-tripledot" title="Show how tasks in recipe behaved in time">...</a></div>
        {% endifchanged %}
    </td>
    <td>{{ item.label }} </td>
    {% for k, recipe in item.data.items %}
    <td {% if recipe.uid %}id="R:{{recipe.uid}}" data-id="{{recipe.id}}"{% endif %} class="field-value {% if not recipe.is_result_pass %} field-job{% endif %} status-{{recipe.get_result}}">
       <div class="rWrapper">
        <div class="icons-tr"><span class="glyphicon glyphicon-eye-open" title="System is selected."></span></div>
        <div class="icons-mr">
	    {% if recipe and recipe.is_running %}<span class="glyphicon glyphicon-star" title="System is still runnig."></span>{% endif %}
	    {% if recipe.reschedule %}<span class="glyphicon glyphicon-refresh" title="Rescheduled {{recipe.reschedule|length}} time(s) - {{recipe.reschedule}}"></span>{% endif %}
	    </div>
	    <div class="icons-br">{% if recipe %}<a href="https://{{ conf.BEAKER_SERVER }}/recipes/{{ recipe.uid }}#tasks" class="glyphicon glyphicon-tripledot" title="Link to Beaker.">...</a>{% endif %}</div>
	   {% if recipe %}<span class="perc">{{ recipe.resultrate|floatformat:"1" }}&nbsp;%</span>{% endif %}
	   </div>
    </td>
    {% endfor %}
</tr>
{% endfor %}
