<a name="Legend"></a>
<h2>Legend</h2>
<ul>
<li><div class="box status-pass"></div> - job passed</li>
<li><div class="box status-fail"></div> - job failed</li>
<li><div class="box status-waived"></div> - job waived</li>
<li><div class="box status-failinstall"></div> - job cancelled or failed on provisioning</li>
<li><div class="box"></div> - job is not started yet</li>
<li ><span class="glyphicon">%</span> - Percentage shows how many tests passed.</li>
<li ><span class="glyphicon glyphicon-tripledot" title="Link.">...</span> - link to detail</li>
<li ><span class="glyphicon glyphicon-star" title="System is still runnig."></span> - recipe is not finished yet</li>
<li ><span class="glyphicon glyphicon-eye-open" title="Selected"></span> - job is selected</li>
<li ><span class="glyphicon glyphicon-refresh"></span> - may represent an additional information; i.e. how many times the job get rescheduled.</li>
</ul>
The list of rescheduled jobs is referenced from the page of particular date.<br>
