<h2 id='Legend'>Legend</h2>
<ul>
  <li><span class="box status-pass"></span> - recipe or task passed</li>
  <li><span class="box status-fail"></span> - recipe or task failed</li>
  <li><span class="box status-warn"></span> - recipe or task warned</li>
  <li><span class="box status-waived"></span> - job or task waived</li>
  <li><span class="box status-failinstall"></span> - job ot task cancelled or failed on installation</li>
  <li><span class="box status-waived-fail"></span> - task failed and its recipe was waived</li>
  <li><span class="box status-waived-warn"></span> - task warned and its recipe was waived</li>
  <li><span class="box status-failinstall-fail"></span> - task failed and its recipe failed on installation</li>
  <li><span class="box status-failinstall-warn"></span> - task warned and its recipe failed on installation</li>
  <li><span class="box"></span> - job or task is not started yet</li>
  <li><span class="glyphicon">%</span> - percentage shows how many tests passed.</li>
  <li><span class="glyphicon glyphicon-tripledot" title="Link.">...</span> - link to detail</li>
  <li><span class="glyphicon glyphicon-star" title="System is still runnig."></span> - recipe is not finished yet</li>
  <li><span class="glyphicon glyphicon-eye-open" title="Selected"></span> - job is selected</li>
  <li><span class="glyphicon glyphicon-refresh"></span> - may represent an additional information; i.e. how many times the job get rescheduled.</li>
  <li><img src="/media/images/rtriangle.png" alt="Marks change in the test package"> - the change of the test package</li>
  <li><img src="/media/images/ptriangle.png" alt="Marks change in the test given test depends on"> - the change in dependent packages</li>
</ul>
