<h2 id='Legend'>Legend</h2>
<ul>
  <li><span class="box status-pass"></span> - job passed</li>
  <li><span class="box status-fail"></span> - job failed</li>
  <li><span class="box status-waived"></span> - job waived</li>
  <li><span class="box status-failinstall"></span> - job cancelled or failed on provisioning</li>
  <li><span class="box"></span> - job is not started yet</li>
  <li><span class="glyphicon">%</span> - percentage shows how many tests passed.</li>
  <li><span class="glyphicon glyphicon-tripledot" title="Link.">...</span> - link to detail</li>
  <li><span class="glyphicon glyphicon-star" title="System is still runnig."></span> - recipe is not finished yet</li>
  <li><span class="glyphicon glyphicon-eye-open" title="Selected"></span> - job is selected</li>
  <li><span class="glyphicon glyphicon-refresh"></span> - may represent an additional information; i.e. how many times the job get rescheduled.</li>
  <li><img src="/media/images/rtriangle.png" alt="Marks change in the test package"> - the change of the test package</li>
  <li><img src="/media/images/ptriangle.png" alt="Marks change in the test given test depends on"> - the change in dependent packages</li>
</ul>
