{% extends "basic.html" %}
{% load gitweb %}
{% load listutil %}

{% block title %}- Reports{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" {% if not page %}class="active"{% endif %} ><a href="{% url "reports" %}">All</a></li>
  {% for it in external_links %}
  <li role="presentation" {% if page.id == it.id %} class="active" {% endif %} ><a href="{{ it.get_absolute_url }}" >{{ it }}</a></li>
  {% endfor %}
</ul>

{% if page %}

<iframe src="{{page.url}}" width="100%" height="100%" frameborder="0" style="height: calc(100vh - 220px);">
</iframe>

{% endif %}

{% if grouptest %}
<h1>Report of tests</h1>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
        <tr>
            <th>Test</th><th>Count</th>
        </tr>
        {% for it in grouptest %}
        </tr>
          <td>{{ it.group__name }} </td>
          <td>{{ it.dcount }} </td>
        <tr>
        </tr>
        {% endfor %}
    </table>
  </div>
  <div class="col-md-6">
<table class="table table-striped">
        <tr>
            <th>Test</th><th>Run</th><th>Not Run</th><th>All</th>
        </tr>
        {% for it in repotest %}
        </tr>
          <td>{{ it.git__name }}</td>
          <td><b>{{ it.run }}</b></td>
          <td><a href="?repo={{ it.git__name }}">{{ it.notrun }}</a></td>
          <td>{{ it.dcount }}</td>
        <tr>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
<h2>Longest running tests</h2>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
        <tr>
            <th>Test</th><th>Average run time</th><th>Runs</th>
        </tr>
        {% for it in testlengths|partition:"2"|first %}
          <tr>
            <td>{{ it.test__name }}</td>
            <td>{{ it.avg_duration|floatformat:2 }}</td>
            <td>{{ it.runs }}</td>
          </tr>
        {% endfor %}
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
        <tr>
            <th>Test</th><th>Average run time</th><th>Runs</th>
        </tr>
        {% for it in testlengths|partition:"2"|last %}
          <tr>
            <td>{{ it.test__name }}</td>
            <td>{{ it.avg_duration|floatformat:2 }}</td>
            <td>{{ it.runs }}</td>
          </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endif %}

{% if nonrun %}
<h1>Non Runing Test</h1>
<div class="row">
{% for it in nonrun %}
<div class="col-md-6">
      {{ it }}
</div>
{% endfor %}
</div>
{% endif %}

{% if reports %}
<h1>Report of product</h1>
Render from
  <ul>{% for render in reports.periods %}
    <li><b>{{render.date_create}}</b> ({{render.period}}) {% endfor %}</li>
  </ul>
<table class="table table-striped">
    <tr>
        <th>Name</th><th>Run tests</th><th>Configurations</th><th>Result runs</th>
    </tr>
    {% for report in reports %}
    </tr>
      <td>{{ report }}</td>
      <td>{{ report.tests }}</td>
      <td>{{ report.recipes }}</td>
      <td>{% for it in report.tasks %}<b>{{ it.name }}</b> ({{it.dcount}}) &emsp; &ensp;{% endfor %}</td>
    <tr>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if tasks %}
<h1>Report of tasks</h1>
<table class="table table-striped">
    <tr>
        <th></th><th>All</th><th>Pass</th><th>Fail</th><th>Warning</th>
    </tr>
    {% for key, it in tasks.items %}
    </tr>
      <td>{{ key }}</td>
      <td>{{ it.all }}</td>
      <td>{{ it.5 }}</td>
      <td>{{ it.4 }}</td>
      <td>{{ it.3 }}</td>
    <tr>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
