{% extends "basic.html" %}
{% load gitweb %}

{% block title %}- Reports{% endblock %}

{% block content %}

<h1>Report of tests</h1>

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
        <tr>
            <th>Test</th><th>Count</th>
        </tr>
        {% for it in grouptest %}
        </tr>
          <td>{{ it.group__name }} </td>
          <td>{{ it.dcount }} </td>
        <tr>
        </tr>
        {% endfor %}
    </table>
  </div>
  <div class="col-md-6">
<table class="table table-striped">
        <tr>
            <th>Test</th><th>Run</th><th>Not Run</th><th>All</th>
        </tr>
        {% for it in repotest %}
        </tr>
          <td>{{ it.git__name }}</td>
          <td><b>{{ it.run }}</b></td>
          <td><a href="?repo={{ it.git__name }}">{{ it.notrun }}</a></td>
          <td>{{ it.dcount }}</td>
        <tr>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>

{% if nonrun %}
<h1>Non Runing Test</h1>
<div class="row">
{% for it in nonrun %}
<div class="col-md-6">
      {{ it }}
</div>
{% endfor %}
</div>
{% endif %}

<h1>Report of product</h1>
<table class="table table-striped">
    <tr>
        <th>Name</th><th>Run tests</th><th>Configurations</th><th>Result runs</th>
    </tr>
    {% for report in reports %}
    </tr>
      <td>{{ report }}</td>
      <td>{{ report.tests }}</td>
      <td>{{ report.recipes }}</td>
      <td>{% for it in report.tasks %}<b>{{ it.name }}</b> ({{it.dcount}}) &emsp; &ensp;{% endfor %}</td>
    <tr>
    </tr>
    {% endfor %}
</table>


{% if tasks %}
<h1>Report of tasks</h1>
<table class="table table-striped">
    <tr>
        <th></th><th>All</th><th>Pass</th><th>Fail</th><th>Warning</th>
    </tr>
    {% for key, it in tasks.items %}
    </tr>
      <td>{{ key }}</td>
      <td>{{ it.all }}</td>
      <td>{{ it.5 }}</td>
      <td>{{ it.4 }}</td>
      <td>{{ it.3 }}</td>
    <tr>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
