# Green Tea Service
# copy file to /etc/systemd/system/greentea.service

[Unit]
Description=The Green Tea Automation
# After=httpd.service

[Service]
Type=notify
ExecStart=/usr/sbin/uwsgi -x /etc/uwsgi.d/tttt.conf
ExecReload=/usr/sbin/uwsgi --reload /run/greentea.pid
ExecStop=/usr/sbin/uwsgi --stop /run/greentea.pid
KillSignal=SIGQUIT
StandardError=syslog
TimeoutStartSec=5sec
TimeoutStopSec=5sec
PIDFile=/run/greentea.pid

[Install]
WantedBy=multi-user.target

